<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Emgu.CV" version="4.5.3.4721" targetFramework="net472" />
  <package id="Emgu.CV.Bitmap" version="4.5.3.4721" targetFramework="net472" />
  <package id="Emgu.CV.UI" version="4.5.3.4721" targetFramework="net472" />
  <package id="FSharp.Core" version="4.7.0" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.11.0" targetFramework="net472" />
  <package id="NLog" version="4.7.11" targetFramework="net472" />
  <package id="NLog.Config" version="4.7.11" targetFramework="net472" />
  <package id="NLog.Schema" version="4.7.11" targetFramework="net472" />
  <package id="System.Drawing.Common" version="5.0.2" targetFramework="net472" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net472" />
  <package id="WebSharper" version="4.7.3.446" targetFramework="net472" />
  <package id="WebSharper.Forms" version="4.7.2.267" targetFramework="net472" />
  <package id="WebSharper.Forms.Bootstrap" version="4.7.1.252" targetFramework="net472" />
  <package id="WebSharper.FSharp" version="4.7.3.446" targetFramework="net472" />
  <package id="WebSharper.UI" version="4.7.2.243" targetFramework="net472" />
</packages>